@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #759AB0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    cursor: default;
    font-size: 300px;
    font-weight: 600;
    color: #223D47;
}

.cursor {
    position: fixed;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: #F1E0CB;
    mix-blend-mode: difference;
}